{% extends 'base.html' %}
{% block content %}

<h1>Finch Details</h1>
<div class="row">
<div class="col s6">
<div class="card">
  <div class="card-content">
    <span class="card-title">{{ finches.name }}</span>
    <p><strong>Description: </strong> {{ finches.description }}</p>
    <p>Age: {{ finches.age }}</p>
    <p>Status: {% if finches.is_fed_today %}Fed{% else %}Hungry{% endif %}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'finches_update' finches.id %}">Edit</a>
    <a href="{% url 'finches_delete' finches.id %}">Delete</a>
  </div>
</div>
</div>
<div class="col s6">
  <form action="{% url 'add_feeding' finches.id %}" method="POST">
    {% csrf_token %}
    {{ feeding_form.as_p }}
    <input type="submit" class="btn" value="Add Feeding">
  </form>
  <table class="striped">
    <thead>
      <tr><th>Date</th><th>Meal</th></tr>
    </thead>
    <tbody>
      {% for feeding in finches.feeding_set.all %}
        <tr>
          <td>{{ feeding.date }}</td>
          <td>{{ feeding.get_meal_display }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ finches.name }}'s Toys</h3>
    {% if finches.toys.count %}
      {% for toy in finches.toys.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'remove_toy' finches.id toy.id %}" method=POST>
              {% csrf_token %}
              <button type="submit" class="btn red">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Toys</h5>
    {% endif %}
  </div>
  <!-- Available toys will come after this line -->
  <div class="col s6">
    <h3>Available Toys</h3>
    {% if toys.count %}
      {% for toy in toys.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_toy' finches.id toy.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{finches.name}} Already Has All Toys Available</h5>
    {% endif %}
  </div>
</div>
</div>
<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_meal');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}